.report-table {

  .ember-light-table {
    color: rgb(40, 163, 194);

    // This disable scrolling
    height: auto !important;
    .tse-scrollable.vertical .tse-scroll-content {
      width: auto !important;
      height: auto !important;
      overflow: auto;
      position: relative;
    }

    & .lt-row {
      height: 30px;
    }

    & .lt-column {
      padding: 5px 10px;
    }

    & .lt-row td {
      border-color: #DADADA;
      border-width: 0 0 1px;
      border-style: solid;
      padding: 0 10px;
    }

    & .lt-row:nth-child(even) {
      background-color: rgb(248, 244, 244);
    }

    & .summary-row {
      background-color: rgb(230, 244, 255);
    }

    & .summary-on-page-row {
      background-color: rgb(230, 244, 255);

      td {
        border-color: rgb(16, 44, 68);
        border-width: 1px 0 1px;
        border-style: solid;
      }
    }
  }

  &__amount-picker {
    margin-bottom: 12px;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    color: #777;
    font-size: 14px;
  }

  &__page-input {
    color: #777;
    font-size: 14px;

    input {
      width: 50px;
    }
  }
}
