<div class="container">
  {{pages}}
  {{#light-table table height='65vh' as |t|}}

    {{t.head
      iconSortable='fa fa-sort'
      iconAscending='fa fa-sort-asc'
      iconDescending='fa fa-sort-desc'
      fixed=true
    }}

    {{#t.body
      canSelect=false
      as |body|
    }}
      {{#if isLoading}}
        {{#body.loader}}
          ...Loading
        {{/body.loader}}
      {{/if}}
    {{/t.body}}
  {{/light-table}}
</div>