<div class="container">

  <h1>Statistics</h1>

  {{report-chart
      data=statistics
      settings=STATISTICS_REPORT_SETTINGS
  }}

  {{report-table
      data=statistics
      totalEntities=totalEntities
      settings=STATISTICS_REPORT_SETTINGS
  }}
</div>