<div class="container">

  <h1>Statistics</h1>

  Show&nbsp;
  {{!-- {{simple-select
      options=AVAILABLE_ENTITIES_PER_PAGE
      choice=entitiesOnPage
      onchange=(action changeEntitiesOnPage)
  }} --}}
  &nbsp;data

  {{report-chart
      data=statistics
      valuePath="searches"
      class="report-chart"
  }}

  {{report-table
      data=statistics
      totalEntities=totalEntities
      meta=META
  }}
</div>